<nav  class="grey darken-3">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo left">ShortStories</a>
    <a href="/auth/google" class="btn" style="margin-left:200px; padding-bottom:60px; padding-top:0px;"><i class="fa fa-google"></i> Login with google</a>
    <ul class="right hide-on-small-only">
      <li><a href="/stories"><i class="fa fa-book"></i> Public Stories</a></li>
      <li><a href="/about">About</a></li>
        {{#if user}}
        <li><a href="/dashboard"><i class="fa fa-cog"></i> Dashboard</a></li>
        <li><a href="/stories/my"><i class="fa fa-user"></i> My Stories</a></li>
        <li><a href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
        {{else}}
        {{/if}}
      </ul>
  </div>
</nav>