<h1>Welcome to our app</h1>
<p>Welcome to ShortStories 1.00</p>
<p>Post your shortStories to share them with people or to save them for yourself</p>
{{#if user}}
{{else }}
<a href="/auth/google" class="btn"><i class="fa fa-google left"></i> Login with google</a>
{{/if}}