<h1>Add a story</h1>
<div class="row">
    <form action="/stories" method="post" class="col s12">
        <input type="text" name="title">
        <br>
        <label for="title"> Title</label>
        <br>
        <select name="status">
            <option value="public" selected>Public</option>
            <option value="private">Private</option>
            <option value="unpublished">Unpublished</option>
        </select>
        <label for="status">Status</label>
        <br>
        <p>
            <label>
                <input type="checkbox" name="allowComments" class="filled-in" checked="checked" />
                <span>Allow Comments</span>
            </label>
        </p>
        <br>
        <h5>Tell us your story</h5>
        <textarea name="body"></textarea>
        <br>
        <input type="submit" value="Save" class="btn">
    </form>
</div>